html, body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: #ffffff; /* Set font color to white */
  background: #1b2129; /* Set background to a dark color */
}
